
body {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.main {
  margin: 20px 40px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 5px;
}
.main_heading {
  border-radius: 5px 5px 0 0;
  position: relative;
  top: 0;
  background-color: #dedddb;
}
.main_heading_name {
  color:#49494b;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-weight:bolder;
  margin-bottom: 0;
}

.preloader{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  height: 100vh;
}
.preloader_img{
  margin:auto
}
