@import url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
body {
  background-color: rgb(236, 236, 236);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.main {
  margin: 20px 40px;
  background: #ffffff;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 20px;

}
.main_heading {
  border-radius: 20px 20px 0 0;
  position: relative;
  top: 0;
  background-color: #c7c7c7;
  background: linear-gradient(#d8d8d8 0%, #8a898e 100%);
}
.main_heading_name {
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin-bottom: 0;;
}

.preloader{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  height: 100vh;
}
.preloader_img{
  margin:auto
}
