.carusel_body{
    position: fixed;
    height: 100vh;
    width: 100vw;
    margin:auto;
    background-color: rgba(0, 0, 0, 0.411);
    top:0;
    left:0;
}
.carusel_element{
    object-fit: cover;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    max-height: 85%;
    max-width: 85%;
    cursor: pointer;
}