.content_heading{
    position: relative;
    background-color: #c7c7c7;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    margin:0;
    height: 30px;
}
.content_heading_button{cursor: pointer;height: 20px; margin:5px; position: absolute;left:0;top:0;}
.content_heading_name{
    margin:auto;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
    padding-top:5px;
}