.photo_card{
    background-color: #e7e3e4;
}
.card p{
    display:block;
    text-align: center;
    cursor:default;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    overflow: hidden;
}
.card__title{
    margin:0;
    margin-left:5px;
    margin-right:5px;
    font-weight: normal;
    font-size: x-large;
}
.card__img{ 
    height: 190px;
    width:190px;
    margin: 5px;
    background-size: cover;
}

.card__length{
    position: absolute;
    top:0;
    right: 10px;
    margin:10px;
    color: black;
    font-size: 1.5em;
}

.card__img-active{
    height: 190px;
    width:190px;
    margin: 5px;
    background-size: cover;
    filter: opacity(70%);
    transition:0.5s;
}

.card__img-active:hover{
    filter: opacity(100%);
}