.card p{
    display:block;
    text-align: center;
    cursor:default;
}
.card__title{
    margin:5px;
}
.card__img{ 
    height: 200px;
    width:200px;
    background-size: cover;
}

.card__length{
    position: absolute;
    top:0;
    right: 0;
    margin:10px;
    color: black;
    font-size: 1.5em;
}

.card__img-active{
    height: 200px;
    width:200px;
    background-size: cover;
    filter: opacity(70%);
    transition:0.5s;}
.card__img-active:hover{filter: opacity(100%);}